<div class="container">

  <% if @card.correct == true %>
    <h1> awww yeah! you got it right :D </h1>
  <% else %>
    <h1> wrong :( </h1>
    <h2> The correct answer to "<%= @card.question %>" is "<%= @card.answer %>". </h2>
  <% end %>

  <a href="/decks/<%= @shuffled_deck_id %>/<%= @round_id %>">Next Question!</a>
</div>


