<!-- view -->
<div class="container">
  <h1>You just completed "<%= @shuffled_deck.name%>" flashcards!</h1>

  <%= @round.score %>%!!
  
  <br>
  <a href="/users/<%= @user.name %>"> Back to your home page! </a>
</div>


